<!DOCTYPE html> 
	<html lang = "en"> 
		<style>
			.this {margin-left: 40px;
					margin-top: 13px;
					display: block;}
			
		</style>
	<body>
	<div class = "home"> 
		
	</div> 
	<div class = "this"> 
		<form  class = "main_form" action = "." method = "POST">
			<select name = "carname"> 
				<option value = "Acura"> Acura </option> 
				<option value = "alfa romeo"> Alfa Romeo </option> 
				<option value = "american motors"> American Motors (AMC) </option> 
				<option value = "aston martin"> Aston Martin </option> 
				<option value = "audi"> Audi </option> 
				<option value = "bentley"> Bentley </option> 
				<option value = "bmw"> BMW </option> 
				<option value = "buick"> Buick </option> 
				<option value = "cadillac"> Cadillac </option> 
				<option value = "caterham"> Caterham </option> 
				<option value = "chevrolet"> Chevrolet </option> 
				<option value = "chrysler"> Chrysler </option> 
				<option value = "de soto"> De Soto </option> 
				<option value = "delorean"> DeLorean </option> 
				<option value = "dodge"> Dodge </option> 
				<option value = "eagle"> Eagle </option> 
				<option value = "ferrari"> Ferrari </option> 
				<option value = "fisker"> Fisker </option> 
				<option value = "ford"> Ford </option> 
				<option value = "geo"> Geo </option> 
				<option value = "gmc"> GMC </option> 
				<option value = "hino"> Hino </option>
				<option value = "honda"> Honda </option> 
				<option value = "hummer"> Hummer </option> 
				<option value = "hyundai"> Hyundai </option> 
				<option value = "infiniti"> Infiniti </option> 	
				<option value = "international"> International </option> 
				<option value = "isuzu"> Isuzu </option> 
				<option value = "jaguar"> Jaguar </option> 
				<option value = "jeep"> Jeep </option>  
				<option value = "kia"> Kia </option>  
				<option value = "lamborghini"> Lamborghini </option>  
				<option value = "land rover"> Land Rover </option>  
				<option value = "lexus"> Lexus </option>  
				<option value = "lincoln"> Lincoln </option>  
				<option value = "maserati"> Maserati </option>
				<option value = "mayback"> Maybach </option>  
				<option value = "mazda"> Mazda </option>  
				<option value = "mclaren"> McLaren </option>  
				<option value = "mercedes"> Mercedes-Benz </option>  
				<option value = "mercury"> Mercury </option>    
				<option value = "mg"> MG </option> 
				<option value = "mini"> MINI </option> 
				<option value = "mitsubishi"> Mitsubishi </option> 
				<option value = "morgan"> Morgan </option> 
				<option value = "morris"> Morris </option> 
				<option value = "mv-1"> MV-1 </option> 
				<option value = "nissan"> Nissan </option> 
				<option value = "oldsmobile"> Oldsmobile </option> 
				<option value = "plymouth"> Plymouth </option> 
				<option value = "pontiac"> Pontiac </option> 
				<option value = "porsche"> Porsche </option> 
				<option value = "ram"> Ram </option> 
				<option value = "renault"> Renault </option> 
				<option value = "rolls-royce"> Rolls-Royce </option> 
				<option value = "saab"> Saab </option> 
				<option value = "saleen"> Saleen </option> 
				<option value = "saturn"> Saturn </option> 
				<option value = "scion"> Scion </option> 
				<option value = "shelby"> Shelby </option> 
				<option value = "smart"> Smart </option> 
				<option value = "sterling"> Sterling </option> 
				<option value = "studebaker"> Studebaker</option> 
				<option value = "subaru"> Subaru </option> 
				<option value = "suzuki"> Suzuki </option> 
				<option value = "tesla"> Tesla </option> 
				<option value = "toyota"> Toyota </option> 
				<option value = "triumph"> Triumph </option> 
				<option value = "volkswagen"> Volkswagen </option> 
				<option value = "volvo"> Volvo </option> 
				<option value = "willys"> Willys </option> 	
			</select> 
		    <a href = "fullpage.html"> <input type = "submit" value = "DUMP" /> </a>
		</form> 
		</div>
	</body>
</html> 
