<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Stylish Social Buttons</title>
  
  
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  
<div class="social-buttons"><a class="social-button facebook" href="#"><i class="fa fa-facebook"></i></a><a class="social-button twitter" href="#"><i class="fa fa-twitter"></i></a><a class="social-button google" href="#"><i class="fa fa-google"></i></a><a class="social-button dribbble" href="#"><i class="fa fa-dribbble"></i></a><a class="social-button skype" href="#"><i class="fa fa-skype"></i></a>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
